// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "restaurants";

body {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3 {
  font-family: 'Inter', sans-serif;
}

.container {
  min-height: calc(100vh - 90px);
}

nav {
  padding: 0 30px !important;
  background: white;
  border-bottom: 1px solid #dfdfdf;

  .nav-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    max-width: 1000px;
  }
}

footer {
  p {
    vertical-align: middle;
    text-align: center;
    background: white;
    height: 40px;
  }
}
